{% extends "base.twig" %}

{% block head %}
    <link rel="stylesheet" href="css/builds.css"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.build').click(function() {
                var selector = '#' + $(this).attr('id') + ' .changelog';
                $(selector).slideToggle(250);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>
        Chisel Builds
    </h1>

    <h3 class="center"> {{ branch }} </h3>
    <div id="builds">
        {% for build in builds %}
            <div class="build {{ build.type|lower }}" id="{{ build.number }}">
                {{ build.version }}
                {{ build.type    }}
                <div class="changelog" style="display: none;">
                    <ul>
                        {% for change in build.changelog %}
                            <li>{{ change }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
